<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    {% if external_js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/cvssjs/cvssjs/cvss.js"></script>
    {% else %}
        <script src="/static/js/Charts.min.js"></script>
        <script src="/static/js/sweetalert.min.js"></script>
        <script src="/static/js/cvss.js"></script>
    {% endif %}
    {% if external_css %}
        <link rel="stylesheet" type="text/css" media="all" href="https://cdn.jsdelivr.net/gh/cvssjs/cvssjs/cvss.css">
        <link rel="stylesheet" type="text/css" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/css/bootstrap.min.css">
        <style>
            /* OWASP RISK CSS */
            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

            * {
                box-sizing: border-box;
            }

            .classCritical {
                color: #FFFFFF;
                background-color: rgb(255, 102, 255, 0.5);
                font-weight: bold;
                border: 3px solid #FF66FF;
                border-radius: 5px;
            }

            .classHigh {
                color: #FFFFFF;
                background-color: rgba(255, 0, 0, 0.5);
                font-weight: bold;
                border: 3px solid #FF0000;
                border-radius: 5px;
            }

            .classMedium {
                color: #000000;
                background-color: rgba(255, 169, 0, 0.5);
                font-weight: bold;
                border: 3px solid #FFA900;
                border-radius: 5px;
            }

            .classLow {
                color: #000000;
                background-color: rgba(255, 255, 0, 0.5);
                font-weight: bold;
                border: 3px solid #FFFF00;
                border-radius: 5px;
            }

            .classNote {
                color: #000000;
                background-color: rgba(144, 238, 144, 0.5);
                font-weight: bold;
                border: 3px solid #90EE90;
                border-radius: 5px;
            }

            .risk {
                width: 400px;
                margin: 0 auto;
            }

            .riskChart {
                margin-bottom: 10px;
            }

            h1 {
                font-weight: bold;
            }

            section {
                padding: 10px;
            }

            .row {
                display: flex;
            }

            .row > section {
                flex: 1;
            }

            .nomargin {
                margin: 0;
            }
        </style>
    {% else %}
        <link rel="stylesheet" type="text/css" media="all" href="/static/css/cvss.css">
        <link rel="stylesheet" type="text/css" media="all" href="/static/css/owasp_risc.css">
        <link rel="stylesheet" type="text/css" media="all" href="/static/css/bootstrap.css">
    {% endif %}
    <script>
        $(function () {
            $('.message .close')
                .on('click', function () {
                    $(this)
                        .closest('.message')
                        .transition('fade')
                    ;
                });

            $('#hosts_list').dropdown({
                action: 'nothing',
                fullTextSearch: "exact",
                sortSelect: true
            });

            $('#hostnames_list').dropdown({
                action: 'nothing',
                fullTextSearch: "exact",
                sortSelect: true
            });

            $('.ui.dropdown.selection').dropdown({});

            $('.ui.checkbox').checkbox();
            var c = new CVSS("cvssboard", {
                onchange: function () {
                    window.location.hash = c.get().vector;
                    c.vector.setAttribute('href', '#' + c.get().vector)
                }
            });
            if (window.location.hash.substring(1).length > 0) {
                c.set(decodeURIComponent(window.location.hash.substring(1)));
            }
        });
        $(document).ready(function () {
            $('.menu .item').tab({
                history: true,
                historyType: 'hash'
            });
        });

        function delete_prompt(func, message) {
            if (confirm(message))
                return true;
            return false;
        };

        const copyToClipboard = str => {
            const el = document.createElement('textarea');
            el.value = str;
            el.setAttribute('readonly', '');
            el.style.position = 'absolute';
            el.style.left = '-9999px';
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
            $('body')
                .toast({
                    class: 'success',
                    position: 'bottom left',
                    message: 'Host ' + str + ' copied!'
                });
        };

        function copy_host(obj) {
            copyToClipboard(obj.childNodes[3].innerText);
        }

        hljs.initHighlightingOnLoad();

    </script>
    <style>
        .ui.dropdown .menu {
            min-width: 100%;
        }

        .ui.dropdown.dropdown .menu > .input {
            min-width: 80%;
        }
    </style>
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
        </div>
        <div class="ui column" style="width: calc(100% - 75px)">
            <h1 class="ui dividing header">Issue: {{ (current_issue['name']) }}</h1>
            <div class="ui top attached tabular menu" style="margin-bottom: 10px">
                <a class="item active" data-tab="info">
                    Issue information
                </a>
                <a class="item" data-tab="poc">
                    Proof of concepts
                </a>
                <a class="item" data-tab="fields">
                    Additional fields
                </a>
                <a class="item" data-tab="scores">
                    Issue metrics
                </a>
            </div>
            <div class="ui tab active" data-tab="info">
                <form class="ui form" method="post"
                      style="margin-top: 15px; width: 100%">

                    <div class="ui grid" style="width: 100%">
                        <div class="eight wide column">
                            <div class="ui container" style="width: 90%; float: left;">

                                <div class="ui field">
                                    <div class="ui labeled input">
                                        <div class="ui label" style="width: 130px;">
                                            <i class="at icon"></i>Name:
                                        </div>
                                        <input type="text" name="name" placeholder="SQL injection.." required
                                               value="{{ (current_issue['name']) }}" readonly>
                                    </div>
                                </div>
                                <div class="ui field">
                                    <div class="ui labeled input">
                                        <div class="ui label" style="width: 130px;">
                                            <i class="sticky note outline icon"></i>Description:
                                        </div>
                                        <textarea rows="8" name="description"
                                                  placeholder="Vulnerability description" readonly>{{ (current_issue['description']) }}</textarea>
                                    </div>
                                </div>
                                <div class="ui field">
                                    <div class="ui labeled input">
                                        <div class="ui label" style="width: 130px;">
                                            <i class="medkit icon"></i>Fix:
                                        </div>
                                        <textarea rows="2" name="fix"
                                                  placeholder="To fix this vulnerability you need..." readonly>{{ (current_issue['fix']) }}</textarea>
                                    </div>
                                </div>
                                <div class="ui field">
                                    <div class="ui labeled input">
                                        <div class="ui label" style="width: 125px;">
                                            <i class="cog icon"></i>Technical:
                                        </div>
                                        <textarea readonly rows="2" name="technical"
                                                  placeholder="Technical information about issue">{{ (current_issue['technical']) }}</textarea>
                                    </div>
                                </div>
                                <div class="ui field">
                                    <div class="ui labeled input">
                                        <div class="ui label" style="width: 125px;">
                                            <i class="exclamation triangle icon"></i>Risks:
                                        </div>
                                        <textarea readonly rows="2" name="risks" placeholder="Issue exploitation risks">{{ (current_issue['risks']) }}</textarea>
                                    </div>
                                </div>
                                <div class="ui field">
                                    <div class="ui labeled input">
                                        <div class="ui label" style="width: 125px;">
                                            <i class="linkify icon"></i>References:
                                        </div>
                                        <textarea readonly rows="2" name="references"
                                                  placeholder="Some links with issue information">{{ (current_issue['references']) }}</textarea>
                                    </div>
                                </div>
                                </br>Double click to copy
                                <div class="ui grid" style="height: 400px;margin-top:-30px;">
                                    <div class="eight wide column">
                                        <div class="ui field">
                                            <div class="ui dropdown" id="hosts_list" style="width: 100%;">
                                                <div class="menu transition visible" style="width: 90%;">
                                                    <div class="ui icon search input">
                                                        <i class="search icon"></i>
                                                        <input type="text" name="Search" placeholder="Search&hellip;">
                                                    </div>
                                                    <div class="scrolling menu" style="height:270px;">
                                                        {% set issue_service_dict = json_unpack(current_issue['services']) %}
                                                        {% set ports = db.select_project_pair_host_port(current_issue['project_id']) %}
                                                        {% for port in ports %}
                                                            {% if port['port_id'] in issue_service_dict and "0" in issue_service_dict[port['port_id']] %}
                                                                <div class="ui item checkbox" data-value="item1" id="ip_row" ondblclick="copy_host(this)">
                                                                    <input type="checkbox" name="ip_port-{{ loop.index }}"
                                                                           value="{{ port['port_id'] }}" checked readonly>
                                                                    <label>{{ (port['ip']) }}{% if port['port'] !=0 %}:{{ port['port'] }}{% if not port['is_tcp'] %}(udp){% endif %}{% endif %}</label>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="eight wide column">
                                        <div class="ui field">
                                            <div class="ui dropdown" id="hostnames_list" style="width: 100%;">
                                                <div class="menu transition visible" style="width: 90%;">
                                                    <div class="ui icon search input">
                                                        <i class="search icon"></i>
                                                        <input type="text" name="Search" placeholder="Search&hellip;">
                                                    </div>
                                                    <div class="scrolling menu" style="height:270px;">
                                                        {% set ports = db.select_project_pair_hostname_port(current_issue['project_id']) %}
                                                        {% for port in ports %}
                                                            {% if port['port_id'] in issue_service_dict and port['hostname_id'] in issue_service_dict[port['port_id']] %}
                                                                <div class="ui item checkbox" data-value="item1" id="hostname_row" ondblclick="copy_host(this)">
                                                                    <input type="checkbox" name="host_port-{{ loop.index }}"
                                                                           value="{{ port['port_id'] }}:{{ port['hostname_id'] }}" checked readonly>
                                                                    <label>{{ (port['hostname']) }}{% if port['port'] !=0 %}:{{ port['port'] }}{% if not port['is_tcp'] %} (udp){% endif %}{% endif %}</label>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 170px;">
                                        <i class="folder open icon"></i>URL path/service:
                                    </div>
                                    <input type="text" name="url" placeholder="/admin/"
                                           value="{{ (current_issue['url_path']) }}" readonly>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 170px;">
                                        <i class="hashtag icon"></i>CVSS:
                                    </div>
                                    <input type="text" name="cvss" step="0.01" min="0" max="10" placeholder="10.0"
                                           value="{{ (current_issue['cvss']) }}" readonly>
                                    <button type="button" class="ui button blue" onclick="$('#cvss_hidden').toggle();">
                                        <i class="ui calculator icon"></i>CVSS calculator
                                    </button>
                                </div>
                            </div>
                            <div id="cvss_hidden" style="display: none">
                                <div class="ui divider"></div>
                                <div id="cvssboard">
                                </div>
                                <div class="ui divider"></div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 170px;">
                                        <i class="hashtag icon"></i>CVE:
                                    </div>
                                    <input type="text" name="cve" placeholder="2020-1337"
                                           value="{{ (current_issue['cve']) }}" readonly>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 170px;">
                                        <i class="hashtag icon"></i>CWE:
                                    </div>
                                    <input type="text" name="cwe" placeholder="123"
                                           value="{{ (current_issue['cwe']) }}" readonly>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 170px;">
                                        <i class="question circle icon"></i>Status:
                                    </div>
                                    <div class="ui fluid selection dropdown disabled" id="services_list">
                                        <input type="hidden" name="status" required
                                               value="{{ (current_issue['status']) }}">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select status</div>
                                        <div class="menu">
                                            <div class="item" data-value="PoC creation">PoC creation</div>
                                            <div class="item" data-value="PoC available">PoC available</div>
                                            <div class="item" data-value="Confirmed">Confirmed</div>
                                            <div class="item" data-value="Wasn't Confirmed">Wasn't Confirmed</div>
                                            <div class="item" data-value="Pending...">Pending...</div>
                                            <div class="item" data-value="Need to check">Need to check</div>
                                            <div class="item" data-value="Need to recheck">Need to recheck</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 170px;">
                                        <i class="exclamation triangle icon"></i>Criticality:
                                    </div>
                                    <div class="ui fluid selection dropdown disabled" id="services_list">
                                        <input type="hidden" name="criticality" required value="-1">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select criticality</div>
                                        <div class="menu">
                                            <div class="item" data-value="-1">use CVSS criticality</div>
                                            <div class="item" data-value="0"><i class="warning circle blue icon"></i>Information
                                                (cvss=0.0)
                                            </div>
                                            <div class="item" data-value="2"><i class="warning circle green icon"></i>Low
                                                (cvss=2.0)
                                            </div>
                                            <div class="item" data-value="5"><i class="warning circle yellow icon"></i>Medium
                                                (cvss=5.0)
                                            </div>
                                            <div class="item" data-value="8"><i class="warning circle orange icon"></i>High
                                                (cvss=8.0)
                                            </div>
                                            <div class="item" data-value="9.5"><i class="warning circle red icon"></i>Critical
                                                (cvss=9.5)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 170px;">
                                        <i class="desktop icon"></i>Parameter:
                                    </div>
                                    <input type="text" name="param" placeholder="(GET) id=123"
                                           value="{{ (current_issue['param']) }}">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 170px;">
                                        <i class="desktop icon"></i>Type:
                                    </div>
                                    <div class="ui fluid selection dropdown disabled" id="services_list">
                                        <input type="hidden" name="issue_type" required
                                               value="{{ (current_issue['type']) }}">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select type</div>
                                        <div class="menu">
                                            <div class="item" data-value="custom">Custom</div>
                                            <div class="item" data-value="web">Web</div>
                                            <div class="item" data-value="credentials">Credentials</div>
                                            <div class="item" data-value="service">Service</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 170px;">
                                        <i class="user secret icon"></i>Intruder:
                                    </div>
                                    <input type="text" readonly name="intruder" placeholder="Internal / External / Authenticated" value="{{ current_issue['intruder'] }}">
                                </div>
                            </div>
                            {% if update_info_errors is defined and update_info_errors %}
                                <div class="ui error message visible">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        There were some errors with issue
                                    </div>
                                    <ul class="list">
                                        {% for error in update_info_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            {% if errors is defined and not errors %}
                                <div class="ui success message visible">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        Issue was added successfully!
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </form>

            </div>
            <script>
                var elements = document.querySelectorAll('[id=hostname_row]');
                for (i = 0; i < elements.length; i++) {
                    is_checked = elements[i].children[0].checked;
                    if (is_checked) {
                        elements[i].parentNode.prepend(elements[i]);
                    } else {

                    }
                }
                ;
                elements = document.querySelectorAll('[id=ip_row]');
                for (i = 0; i < elements.length; i++) {
                    is_checked = elements[i].children[0].checked;
                    if (is_checked) {
                        elements[i].parentNode.prepend(elements[i]);
                    } else {

                    }
                }

                $(document).ready(function () {
                    var table = $('#poc_list').DataTable({
                        "iDisplayLength": -1,
                        aLengthMenu: [
                            [10, 25, 50, 100, 200, -1],
                            [10, 25, 50, 100, 200, "All"]
                        ],
                        'columnDefs': [{
                            'targets': 4,
                            'searchable': false,
                            'orderable': false,
                        }],
                        "columns": [
                            null,
                            null,
                            null,
                            {
                                "orderable": false,
                                "className": "dt-body-center"
                            },
                            null
                        ]
                    });
                });

            </script>

            <style>
                tr.odd {
                    background-color: #fffdc2;
                }

                tr.even {
                    background-color: #c3ffcd;
                }

                .ui.menu:last-child {
                    margin-bottom: 0px;
                }
            </style>
            <div class="ui tab" data-tab="poc">
                <table id="poc_list" class="ui table" style="width: 100%">
                    <thead>
                    <tr id="table_header">
                        <th style="width: 50px;"></th>
                        <th><h4>host</h4></th>
                        <th><h4>description</h4></th>
                        <th><h4>proof-of-concept</h4></th>
                        <th style="width: 135px;"><h4>action</h4></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set pocs = db.select_issue_pocs(current_issue['id']) %}
                    {% for current_poc in pocs %}
                    <tr>
                        <td>
                            <i data-value="{{ current_poc['id'] }}"
                               class="flag red {% if not current_poc['priority'] %}outline{% endif %} big icon"
                               id="flag_img" style="cursor: pointer;" onclick="set_priority(this)"></i>
                        </td>
                        {% if not (current_poc['hostname_id']=='0' and current_poc['port_id']=='0') %}
                            {% if current_poc['hostname_id']=='0' %}
                                {% set host = db.select_host_by_port_id(current_poc['port_id'])[0]['ip'] %}
                            {% else %}
                                {% set host = db.select_hostname(current_poc['hostname_id'])[0]['hostname'] %}
                            {% endif %}
                            {% set current_port = db.select_port(current_poc['port_id'])[0] %}
                        {% endif %}
                        <td style="word-break: break-all;text-align: left;">
                            {% if not (current_poc['hostname_id']=='0' and current_poc['port_id']=='0') %}
                                <h4>{{ (host) }}{% if current_port['port'] != 0 %}:
                                    {{ (current_port['port']) }}{% endif %}</h4>
                            {% endif %}
                        </td>
                        <td>{{ (current_poc['description']) }}</td>
                        <td style="align-content: center;">
                            {% if current_poc['type']=='image' %}
                            <div class="ui grid">
                                <div class="ui sixteen column centered grid">
                                    <img src="/static/files/poc/{{ current_poc['id'] }}" style="max-height: 400px;max-width: 800px">
                                </div>
                            </div>
                            {% else %}{% autoescape false %}
                            <pre style="overflow: auto"><code
                                    style="max-height: 400px; max-width:800px; margin-left: 10px; margin-right: 10px;">{{ escape(open('static/files/poc/'+current_poc['id']).read().replace('\r','')) }}</code></pre>
                            {% endautoescape %}{% endif %}
                        </td>
                        <td>
                            <a href="/static/files/poc/{{ current_poc['id'] }}" class="ui vertical animated button blue"
                               tabindex="0">
                                <div class="hidden content">Download</div>
                                <div class="visible content">
                                    <i class="download icon"></i>
                                </div>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="ui tab" data-tab="fields">
                {% set fields = json_unpack(current_issue['fields']) %}
                <script>
                    $(document).ready(function () {
                        $('#new_field_dropdown').dropdown({});
                    });
                </script>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="ui grid">
                    <div class="two column row">

                        <div class="ui column">
                            <h2 class="ui dividing header">Text fields</h2>
                            <form class="ui form">
                                <div id="fields_list">
                                    {% for field_name in fields %}
                                        {% if fields[field_name]['type'] != 'file' %}
                                            <div>
                                                <h4>{{ (field_name) }} ({{ fields[field_name]['type'] }})</h4>
                                                <input type="hidden" name="additional_field_name" value="{{ (field_name) }}">
                                                <input type="hidden" name="additional_field_type" value="{{ fields[field_name]['type'] }}">
                                                <div class="ui two fields">
                                                    <div class="field">
                                                        <div class="ui input">
                                                            {% if fields[field_name]['type'] == 'text' %}
                                                                <input type="text" readonly value="{{ (fields[field_name]['val']) }}" placeholder="Field value" name="additional_field_value">
                                                            {% elif fields[field_name]['type'] == 'float' %}
                                                                <input type="number" readonly step="any" value="{{ fields[field_name]['val'] | float }}" placeholder="Field value" name="additional_field_value">
                                                            {% else %}
                                                                <input type="number" readonly value="{{ fields[field_name]['val'] | int }}" placeholder="Field value" name="additional_field_value">
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <div class="divider"></div>
                            </form>
                        </div>

                        <div class="ui column">
                            <h2 class="ui dividing header">File fields</h2>
                            {% for field_name in fields %}
                                {% if fields[field_name]['type'] == 'file' %}

                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui tab" data-tab="scores">
                <div class="ui top attached tabular menu" style="margin-bottom: 10px">
                    <a class="item active" data-tab="cvss">
                        CVSS
                    </a>
                    <a class="item" data-tab="owasp">
                        OWASP Risk Rating
                    </a>
                </div>

                <script>
                    {%  set issue_fields = json_unpack(current_issue['fields']) %}
                    $(document).ready(function () {
                        var c1 = new CVSS("cvssboard_metrics", {});
                        cvss_vector = '{% if 'cvss_vector' in issue_fields %}{{ issue_fields['cvss_vector']['val'] }}{% endif %}';
                        if (cvss_vector !== '') {
                            c1.set(cvss_vector);
                        }
                        // add button copy
                    });

                </script>

                <div class="ui tab active" data-tab="cvss">
                    <div class="ui labeled input">
                        <div class="ui label" style="width: 125px;">
                            <i class="hashtag icon"></i>CVSS:
                        </div>
                        <input type="number" id="cvss_tab_num" readonly name="cvss" step="0.01" min="0" max="10" placeholder="10.0" value="{{ (current_issue['cvss']) }}">
                    </div>
                    <div class="ui labeled input">
                        <div class="ui label" style="width: 125px;">
                            <i class="hashtag icon"></i>Vector:
                        </div>
                        <input id="cvss_tab_vector" style="min-width: 350px;" readonly type="text" name="cvss_vector" placeholder="CVSS:3.1/AV:A/AC:L/PR:N/UI:N/S:C/C:H/I:L/A:N" value="{% if 'cvss_vector' in issue_fields %}{{ issue_fields['cvss_vector']['val'] }}{% endif %}">
                    </div>
                    <div class="ui divider"></div>
                    <div id="cvssboard_metrics">
                    </div>

                </div>
                <div class="ui tab" data-tab="owasp">

                    <main>
                        <section>
                            <div class="ui labeled input">
                                <div class="ui label" style="width: 125px;">
                                    <i class="hashtag icon"></i>Vector:
                                </div>
                                <input id="owasp_vector" style="min-width: 590px;" type="text" readonly name="owasp_vector" placeholder="SL:1/M:1/O:0/S:2/ED:1/EE:1/A:1/ID:2/LC:2/LI:1/LAV:1/LAC:1/FD:1/RD:1/NC:2/PV:3"
                                       value="{% if 'owasp_vector' in issue_fields %}{{ issue_fields['owasp_vector']['val'] }}{% endif %}">
                            </div>
                            <div>
                                <b>VECTOR: </b><a id="score" target="_blank">({% if 'owasp_vector' in issue_fields %}{{ issue_fields['owasp_vector']['val'] }}{% endif %})</a>
                                <br>
                            </div>
                        </section>
                        <section>
                            <canvas class="riskChart" id="riskChart" height="75"></canvas>
                            <div class="risk RS">
                                <h4>0</h4>
                            </div>
                        </section>
                        <!-- FIRST -->
                        <div class="row">
                            <!-- THREAT AGENT FACTORS -->
                            <section>
                                <h5 class="border-bottom" title="The first set of factors are related to the threat agent involved. The goal here is to estimate the likelihood of a successful attack by this group of threat agents. Use the worst-case threat agent.">Threat Agent Factors</h5>
                                <div class="row">
                                    <div class="h6 nomargin col-4 d-flex align-items-center" title="How technically skilled is this group of threat agents?">Skill level</div>
                                    <div class="col-8">
                                        <select class="form-control" id="sl" name="sl" onchange="calculate()">
                                            <option value="1">No technical skills (1)</option>
                                            <option value="3">Some technical skills (3)</option>
                                            <option value="5">Advanced computer user (5)</option>
                                            <option value="6">Network and programming skills (6)</option>
                                            <option value="9">Security penetration skills (9)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="h6 nomargin col-4 d-flex align-items-center" title="How motivated is this group of threat agents to find and exploit this vulnerability?">Motive</div>
                                    <div class="col-8">
                                        <select class="form-control" aria-label=".form-select-sm example" id="m" name="m" onchange="calculate()">
                                            <option value="1">Low or no reward (1)</option>
                                            <option value="4">Possible reward (4)</option>
                                            <option value="9">High reward (9)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="h6 nomargin col-4 d-flex align-items-center" title="What resources and opportunities are required for this group of threat agents to find and exploit this vulnerability?">Opportunity</div>
                                    <div class="col-8">
                                        <select class="form-control" aria-label=".form-select-sm example" id="o" name="o" onchange="calculate()">
                                            <option value="0">Full access or expensive resources required (0)</option>
                                            <option value="4">Special access or resources required (4)</option>
                                            <option value="7">Some access or resources required (7)</option>
                                            <option value="9">No access or resources required (9)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="h6 nomargin col-4 d-flex align-items-center" title="How large is this group of threat agents?">Size</div>
                                    <div class="col-8">
                                        <select class="form-control" aria-label=".form-select-sm example" id="s" name="s" onchange="calculate()">
                                            <option value="2">Developers, System administrators (2)</option>
                                            <option value="4">Intranet users (4)</option>
                                            <option value="5">Partners (5)</option>
                                            <option value="6">Authenticated users (6)</option>
                                            <option value="9">Anonymous Internet users (9)</option>
                                        </select>
                                    </div>
                                </div>
                            </section>

                            <!-- TECHNICAL IMPACT FACTORS -->
                            <section>
                                <h5 class="border-bottom"
                                    title="Technical impact can be broken down into factors aligned with the traditional security areas of concern: confidentiality, integrity, availability, and accountability. The goal is to estimate the magnitude of the impact on the system if the vulnerability were to be exploited. ">
                                    Technical Impact Factors</h5>
                                <div class="row">
                                    <div class="h6 nomargin col-4 d-flex align-items-center" title="How much data could be disclosed and how sensitive is it?">Loss of confidentiality</div>
                                    <div class="col-8">
                                        <select class="form-control" aria-label=".form-select-sm example" id="lc" name="lc" onchange="calculate()">
                                            <option value="2">Minimal non-sensitive data disclosed (2)</option>
                                            <option value="6">minimal critical data disclosed (6)</option>
                                            <option value="6">extensive non-sensitive data disclosed (6)</option>
                                            <option value="7">extensive critical data disclosed (7)</option>
                                            <option value="9">all data disclosed (9)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="h6 nomargin col-4 d-flex align-items-center" title="How much data could be corrupted and how damaged is it?">Loss of integrity</div>
                                    <div class="col-8">
                                        <select class="form-control" aria-label=".form-select-sm example" id="li" name="li" onchange="calculate()">
                                            <option value="1">Minimal slightly corrupt data (1)</option>
                                            <option value="3">Minimal seriously corrupt data (3)</option>
                                            <option value="5">Extensive slightly corrupt data (5)</option>
                                            <option value="7">Extensive seriously corrupt data (7)</option>
                                            <option value="9">All data totally corrupt (9)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="h6 nomargin col-4 d-flex align-items-center" title="How much service could be lost and how vital is it?">Loss of availability</div>
                                    <div class="col-8">
                                        <select class="form-control" aria-label=".form-select-sm example" id="lav" name="lav" onchange="calculate()">
                                            <option value="1">Minimal secondary services interrupted (1)</option>
                                            <option value="5">Minimal primary services interrupted (5)</option>
                                            <option value="5">Extensive secondary services interrupted (5)</option>
                                            <option value="7">Extensive primary services interrupted (7)</option>
                                            <option value="9">All services completely lost (9)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="h6 nomargin col-4 d-flex align-items-center" title="Are the threat agents' actions traceable to an individual?">Loss of accountability</div>
                                    <div class="col-8">
                                        <select class="form-control" aria-label=".form-select-sm example" id="lac" name="lac" onchange="calculate()">
                                            <option value="1">Fully traceable (1)</option>
                                            <option value="7">Possibly traceable (7)</option>
                                            <option value="9">Completely anonymous (9)</option>
                                        </select>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <!-- SECOND -->
                        <div class="row">
                            <!-- VULNERABILITY FACTORS -->
                            <section>
                                <h5 class="border-bottom" title="The next set of factors are related to the vulnerability involved. The goal here is to estimate the likelihood of the particular vulnerability involved being discovered and exploited. Assume the threat agent selected above.">
                                    Vulnerability Factors</h5>
                                <div class="row">
                                    <div class="h6 nomargin col-4 d-flex align-items-center" title="How easy is it for this group of threat agents to discover this vulnerability?">Ease of discovery</div>
                                    <div class="col-8">
                                        <select class="form-control" aria-label=".form-select-sm example" id="ed" name="ed" onchange="calculate()">
                                            <option value="1">Practically impossible (1)</option>
                                            <option value="3">Difficult (3)</option>
                                            <option value="7">Easy (7)</option>
                                            <option value="9">Automated tools available (9)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="h6 nomargin col-4 d-flex align-items-center" title="How easy is it for this group of threat agents to actually exploit this vulnerability?">Ease of exploit</div>
                                    <div class="col-8">
                                        <select class="form-control" aria-label=".form-select-sm example" id="ee" name="ee" onchange="calculate()">
                                            <option value="1">Theoretical (1)</option>
                                            <option value="3">Difficult (3)</option>
                                            <option value="5">Easy (5)</option>
                                            <option value="9">Automated tools available (9)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="h6 nomargin col-4 d-flex align-items-center" title="How well known is this vulnerability to this group of threat agents?">Awareness</div>
                                    <div class="col-8">
                                        <select class="form-control" aria-label=".form-select-sm example" id="a" name="a" onchange="calculate()">
                                            <option value="1">Unknown (1)</option>
                                            <option value="4">Hidden (4)</option>
                                            <option value="6">Obvious (6)</option>
                                            <option value="9">Public knowledge (9)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="h6 nomargin col-4 d-flex align-items-center" title="How likely is an exploit to be detected?">Intrusion detection</div>
                                    <div class="col-8">
                                        <select class="form-control" aria-label=".form-select-sm example" id="id" name="id" onchange="calculate()">
                                            <option value="1">Active detection in application (1)</option>
                                            <option value="3">Logged and reviewed (3)</option>
                                            <option value="8">Logged without review (8)</option>
                                            <option value="9">Not logged (9)</option>
                                        </select>
                                    </div>
                                </div>
                            </section>

                            <!-- BUSINESS IMPACT FACTORS -->
                            <section>
                                <h5 class="border-bottom"
                                    title="The business impact stems from the technical impact, but requires a deep understanding of what is important to the company running the application. In general, you should be aiming to support your risks with business impact, particularly if your audience is executive level. The business risk is what justifies investment in fixing security problems.">
                                    Business Impact Factors</h5>
                                <div class="row">
                                    <div class="h6 nomargin col-4 d-flex align-items-center" title="How much financial damage will result from an exploit?">Financial damage</div>
                                    <div class="col-8">
                                        <select class="form-control" aria-label=".form-select-sm example" id="fd" name="fd" onchange="calculate()">
                                            <option value="1">Less than the cost to fix the vulnerability (1)</option>
                                            <option value="3">Minor effect on annual profit (3)</option>
                                            <option value="7">Significant effect on annual profit (7)</option>
                                            <option value="9">Bankruptcy (9)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="h6 nomargin col-4 d-flex align-items-center" title="Would an exploit result in reputation damage that would harm the business?">Reputation damage</div>
                                    <div class="col-8">
                                        <select class="form-control" aria-label=".form-select-sm example" id="rd" name="rd" onchange="calculate()">
                                            <option value="1">Minimal damage (1)</option>
                                            <option value="4">Loss of major accounts (4)</option>
                                            <option value="5">Loss of goodwill (5)</option>
                                            <option value="9">Brand damage (9)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="h6 nomargin col-4 d-flex align-items-center" title="How much exposure does non-compliance introduce?">Non-compliance</div>
                                    <div class="col-8">
                                        <select class="form-control" aria-label=".form-select-sm example" id="nc" name="nc" onchange="calculate()">
                                            <option value="2">Minor violation (2)</option>
                                            <option value="5">Clear violation (5)</option>
                                            <option value="7">High profile violation (7)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="h6 nomargin col-4 d-flex align-items-center" title="How much personally identifiable information could be disclosed?">Privacy violation</div>
                                    <div class="col-8">
                                        <select class="form-control" aria-label=".form-select-sm example" id="pv" name="pv" onchange="calculate()">
                                            <option value="3">One individual (3)</option>
                                            <option value="5">Hundreds of people (5)</option>
                                            <option value="7">Thousands of people (7)</option>
                                            <option value="9">Millions of people (9)</option>
                                        </select>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <!-- THIRD -->
                        <div class="row">
                            <!-- LIKELIHOOD SCORE -->
                            <section>
                                <h5 class="border-bottom">Likelihood score</h5>
                                <h6 class="LS nomargin">0</h6>
                            </section>

                            <!-- IMPACT SCORE -->
                            <section>
                                <h5 class="border-bottom">Impact score</h5>
                                <h6 class="IS nomargin">0</h6>
                            </section>
                        </div>

                        <!-- CREDITS -->
                        <section>
                            <div>
                                2021 OWASP Risk Assessment Calculator | Developed by <a href="https://hackpuntes.com" target="_blank"><span>Javier Olmedo</span></a> | Source Code on <a href="https://github.com/JavierOlmedo/OWASP-Calculator" target="_blank"><span>Github</span></a> repository.
                            </div>
                        </section>
                    </main>

                    <!-- MODAL -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">How is Severity Risk caculated?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <!-- LIKELIHOOD AND IMPACT LEVELS -->
                                        <section>
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th scope="col" colspan="2">Likelihood and Impact Levels</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>0 to < 3</td>
                                                    <td class="classNote">LOW</td>
                                                </tr>
                                                <tr>
                                                    <td>3 to < 6</td>
                                                    <td class="classMedium">MEDIUM</td>
                                                </tr>
                                                <tr>
                                                    <td>6 to 9</td>
                                                    <td class="classHigh">HIGH</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </section>

                                        <!-- OVERALL RISK SEVERITY = LIKELIHOOD X IMPACT -->
                                        <section>
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th scope="col" colspan="5">Overall Risk Severity = Likelihood x Impact</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td colspan="1" rowspan="4" style="vertical-align: middle; font-weight: bold">Impact</td>
                                                    <td>HIGH</td>
                                                    <td class="classMedium">Medium</td>
                                                    <td class="classHigh">High</td>
                                                    <td class="classCritical">Critical</td>
                                                </tr>
                                                <tr>
                                                    <td>MEDIUM</td>
                                                    <td class="classLow">Low</td>
                                                    <td class="classMedium">Medium</td>
                                                    <td class="classHigh">High</td>
                                                </tr>
                                                <tr>
                                                    <td>LOW</td>
                                                    <td class="classNote">Note</td>
                                                    <td class="classLow">Low</td>
                                                    <td class="classMedium">Medium</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>LOW</td>
                                                    <td>MEDIUM</td>
                                                    <td>HIGH</td>
                                                </tr>
                                                </tbody>
                                                <thead>
                                                <tr>
                                                    <th scope="col" colspan="1"></th>
                                                    <th scope="col" colspan="4">Likelihood</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </section>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
{% if external_js %}
    <script src="https://javierolmedo.github.io/OWASP-Calculator/js/script.js"></script>
{% else %}
    <script src="/static/js/owasp_risk.js"></script>
{% endif %}
<script>
    owasp_vector = $('#owasp_vector')[0].value;
    if (owasp_vector !== '') {
        loadVectors(owasp_vector);
    }
</script>
</body>
</html>